#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=custom_HOME/Pictures/utilities-terminal.svg
Icon[en_US]=custom_HOME/Pictures/utilities-terminal.svg
Name[en_US]=mate-terminal
Exec=/usr/bin/mate-terminal
Name=mate-terminal